.glass-navbar {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 25px;
    border-radius: 25px;
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.nav-link:hover {
    color: black;
}